/* reset */

:root{
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
    --Green: hsl(75, 94%, 57%);
    --dark-Green: hsl(75, 94%, 27%);
    }
    *,
    *::after,::before{
        box-sizing: border-box;
    }
    *{
        margin: 0;
    }
    img{
        display: block;
        max-width: 100%;
        border-radius: 100%;
    }
    html, body{
        height: 100%;
    }
    /* global */
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    /* .width-wrapper{
        background-color: var(--Off-Black);
        border: solid 1px peru;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    } */
    body{
        background-color: var(--Off-Black);
        font-family: 'Inter', sans-serif;
        font-weight: 400 85% /160%;
        color: var(--White);
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        max-width: 60rem; 
        margin: 2rem auto;
        padding: auto 2rem;
        text-align: center;
        margin-top: 2rem;
        /* border:  1px solid salmon; */
    }
    .social-links{
        margin-top: 2rem;
        display: grid;
        grid-row: 100%;
        list-style: none;
        padding:0;
        gap: 1rem;
        font-weight: 700;
        
    }
    .social-links a{
        display: block;
        background-color: var(--Grey);
        color: var(--White);
        width: 100%;
        border-radius: 0.5rem;
        text-decoration: none;
        height: 2rem;
        padding-top: 0.5rem;
    }
    .social-links a:hover{
        display: block;
        background-color: var(--Green);
        color: var(--White);
        width: 100%;
        border-radius: 0.5rem;
        text-decoration: none;
        height: 2rem;
        padding-top: 0.5rem;
    }
    .head-img{
        /* border: 1px solid yellow; */
        gap: 1.5rem;
        background-color: var(--Dark-Grey);
        border-radius: 1rem;
        padding: 1rem;
    }

    .icon-img{
        margin-inline: auto;
        width: 5rem;
        margin-bottom: 1rem;
    } 
     .location{
        color: var(--Green);
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    } 
    .name{
        font-weight: 100;
        font-size: 1.4rem;
        font-family: "Inter";
    }
     .quote{
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .attribution{
        margin-top: 1rem;
        padding-bottom: 1rem;
        color: var(--White);
        font-weight: 600;
    }
    .attribution a{
        color: var(--dark-Green) !important;
        text-decoration: none;
        font-size: 1rem;
    }
    .attribution a:hover,.attribution a:focus{
        text-decoration: none;
        color: var(--Green) !important;
    }
   
